version: '3.3'
services:

  nginx:
    build: './bnb/nginx'
    ports:
      - '4000:4000'
    depends_on:
      - account-service
      - accomodation-service
      - feedback-service
      - reservation-service
      - search-service

  accomodation-service:
    build: './bnb/accommodation-service'
    ports:
      - '8081:8080'
      - '50051:50051'
    volumes:
      - './bnb/accommodation-service:/go/src/app'
    depends_on:
      - mongo

  account-service:
      build: './bnb/account-service'
      ports:
        - '8082:8080'
        - '50052:50051'
      volumes:
        - './bnb/account-service:/go/src/app'
      depends_on:
        - mongo

  feedback-service:
    build: './bnb/feedback-service'
    ports:
      - '8083:8080'
      - '50053:50051'
    volumes:
      - './bnb/feedback-service:/go/src/app'
    depends_on:
      - mongo

  reservation-service:
    build: './bnb/reservation-service'
    ports:
      - '8084:8080'
      - '50054:50051'
    volumes:
      - './bnb/reservation-service:/go/src/app'
    depends_on:
      - mongo
    
  search-service:
    build: './bnb/search-service'
    ports:
      - '8085:8080'
      - '50055:50051'
    volumes:
      - './bnb/search-service:/go/src/app'
    depends_on:
      - mongo

  flights-backend:
    build: './flights/backend'
    ports:
      - '8080:8080'
    volumes:
      - './flights/backend:/go/src/app'
    depends_on:
      - mongo

  mongo:
    image: 'mongo:latest'
    container_name: 'mongo'
    ports:
      - '27100:27017'
    volumes:
      - type: bind
        source: ./data
        target: /data/db
    
