version: '3.3'
services:

  nginx:
    build: './bnb/nginx'
    ports:
      - '4000:4000'
    depends_on:
      - account-service
      - accommodation-service
      - feedback-service
      - reservation-service
      # - search-service
    networks:
      - backend-network

  accommodation-service:
    restart: on-failure:3
    build: './bnb/accommodation-service'
    ports:
      - '8081:8080'
      - '50051:50051'
    volumes:
      - './bnb/accommodation-service:/go/src/app'
    depends_on:
      - mongo
      - nats
    networks:
      - backend-network

  account-service:
      restart: on-failure:3
      build: './bnb/account-service'
      ports:
        - '8082:8080'
        - '50052:50051'
      volumes:
        - './bnb/account-service:/go/src/app'
      depends_on:
        - mongo
        - nats
      networks:
        - backend-network

  feedback-service:
    restart: on-failure:3
    build: './bnb/feedback-service'
    ports:
      - '8083:8080'
      - '50053:50051'
    volumes:
      - './bnb/feedback-service:/go/src/app'
    depends_on:
      - mongo
      - nats
    networks:
      - backend-network

  reservation-service:
    restart: on-failure:3
    build: './bnb/reservation-service'
    ports:
      - '8084:8080'
      - '50054:50051'
    volumes:
      - './bnb/reservation-service:/go/src/app'
    depends_on:
      - mongo
      - nats
    networks:
      - backend-network
    

  # search-service:
  #   restart: on-failure:3
  #   build: './bnb/search-service'
  #   ports:
  #     - '8085:8080'
  #     - '50055:50051'
  #   volumes:
  #     - './bnb/search-service:/go/src/app'
  #   depends_on:
  #     - mongo

  flights-backend:
    build: './flights/backend'
    ports:
      - '8080:8080'
    volumes:
      - './flights/backend:/go/src/app'
    depends_on:
      - mongo
    networks:
      - backend-network
      
  recommendation-service:
    restart: on-failure:3
    build: './bnb/recommendation-service'
    ports:
      - '8086:8080'
      - '50056:50051'
    volumes:
      - './bnb/recommendation-service:/go/src/app'
    depends_on:
      - neo4j
    networks:
      - backend-network      

  # flights-backend:
  #   build: './flights/backend'
  #   ports:
  #     - '8080:8080'
  #   volumes:
  #     - './flights/backend:/go/src/app'
  #   depends_on:
  #     - mongo

  mongo:
    image: 'mongo:latest'
    container_name: 'mongo'
    ports:
      - '27100:27017'
    volumes:
      - type: bind
        source: ./data
        target: /data/db
    networks:
      - backend-network

  neo4j:
    image: 'neo4j:latest'
    container_name: 'neo4j'
    restart: on-failure:3
    ports:
      - 7474:7474
      - 7687:7687
    networks:
      - backend-network

  nats:
    image: 'nats:latest'
    container_name: 'nats'
    restart: on-failure:3
    expose:
      - "4222"
    ports:
      - "4222:4222"
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge
    name: backend-network
  

